<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429612766859-gcas83j7ga09q4neq4k3mdpe7qcvvqn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429612766859-gcas83j7ga09q4neq4k3mdpe7qcvvqn0</string>
	<key>API_KEY</key>
	<string>AIzaSyCAlPPcL8q9ulLDQRru_0mIDYcnti3WsRA</string>
	<key>GCM_SENDER_ID</key>
	<string>429612766859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.namikng.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f6041</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f6041.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429612766859:ios:78e1cae36783746309e68e</string>
</dict>
</plist>